#rechts{
    float:right;
}
.fter{
    color: white;
}
#welkom{
    text-align: center;
}
.thread{
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px;
    margin-top: 5%;
    z-index: -1;
}
.subject{
    background-color:darkcyan;
    color:black;
}

.description{
    text-align: center;
    padding: 4px;
}
.created{
    text-align: right;
}
.topic{
    text-align: center;
}


/*//topics specific edits*/
.comment_container{
    margin-top:10%;
}

#comment{
    margin:1%;
   border: 1px solid blue;
}
.topicinfo{
    text-align: center;
}
#addcontent{
    text-align: center;
    margin-top: 5%;
}